.Content{
    background-color: #a88e69;
    color: white;}
.Content .Content_icons{
    display: flex;
    flex-direction: row;
    padding: 90px;
    text-align: center;
    text-justify: auto;
    font-size:  1.2em;
}
.Content img{
    height: 50px;
    weight: 50px;
}
.Content_map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:  1.2em;
}
.Content_map p:first-letter{
    color: yellow;
    font-size: 1.6em;
}
.Content_map img{
    height: 222px;
    weight: 222px;
}
.Content_map p{
    text-align: center;
    margin: 50px;
    justify-content: center;

}
@media only screen and (min-width: 1300px){
    .Content_map img{
        height: 522px;
        weight: 522px;
    }
    .Content_map p{
       margin-left: 210px;
        margin-right: 210px;
    }
}