.Footer{
    background-color: #3a271f;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: white;
}
.upper{
    margin-left: 100px;
}
.author{
    margin-right: 100px;
}
h2{
    font-size: 20px;
}
.Footer .icons {
    display: flex;
    flex-direction: row;
     row-gap: 23px;
    justify-content: space-between;
}