.Heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #996c2f;
    letter-spacing: 1.2px;

}
.Heading h2{
    color: white;
    font-size: 3em;
    margin-left: 90px;
    font-family: "Reem Kufi";
}
 li{
   display: inline-block;
    margin-right: 90px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: cornsilk;
}
a:hover{
  color: white;
  transform: translate(-5px, 5px);
  opacity: 1;
}
button {
    padding: 10px 20px;
    background-color: transparent;
    font-family: 'Helvetica Neue';
    font-weight: normal;
    letter-spacing: 1.2px;
    color: #444C54;
    border: 2px solid #444C54;
    margin-right: 50px;
}
button:hover{
    transform: translate(-5px, 5px);
    opacity: 1;
}
@media only screen and (max-width: 700px){
    .Heading{
        position: relative;
        flex-direction: column;
    }
    button{
        display: none;
        /* position: absolute;
        right: 70px; */
    }
}
