main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 50px;
    text-align: center;
    padding: 100px;
    line-height: 34px;
    color: #472c27;
}
.Timeline{
    margin-bottom: 150px;
}
main .slide_container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.slide .text{
    font-size: 30px;
}
img{
    border: darkgoldenrod 2px groove;
}
.Main h1{
    text-align: center;
    text-space: 100px;
}
.Main img{
    filter: grayscale(100%);
    weight: 250px;
    height: 250px;
}
.text{
    margin-top: 30px;
    color: gold;
    background-color:rgba(23,23,23,19.9%);
    font-size: 4em;
}
img:hover{
    filter: grayscale(0%);
}
@media only screen and (max-width: 1200px){
    main .slide_container{
        display: flex;
        flex-direction: column;
        gap: 50px;

    }
    .Main h1{
        text-align: center;

    }
}