.Section{
 display: grid;
 background-color: saddlebrown;
 padding: 10px 5px 10px 5px;
 counter-reset: section;
 grid-template-columns: repeat(2, 1fr);
 color: white;
}
.img_container{
 display: flex;
 align-items: center;
 flex-direction: row;
 row-gap: 10px;
 background-color: saddlebrown;
 padding: 10px 10px 10px 10px;
 content: counter(section);
}
.Section h2{
 background-color: #68340f;
 margin: 20px 20px 20px 20px;
 text-align: center;
}
.Section h2::before{
 content: ' ';
 background-color: darkgoldenrod;
 padding-left: 10px;
 padding-right: 10px;
 margin-right: 10px;
}

@media only screen and (max-width: 1500px){
 .Section{
  display: grid;
  grid-template-columns: auto;
  background-color: saddlebrown;
  padding: 10px 10px 10px 10px;
  counter-reset: section;
  color: white;
 }
 .img_container{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 0px;
  background-color: saddlebrown;
  padding: 40px 40px 40px 40px;
  content: counter(section);
 }
 .img_container img{
    width: 300px;
    height:250px;
 }

 }
