body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Fira Code', sans-sherif;
  background-image: url("assets/images/main_image.jpg");
  backdrop-filter: brightness(80%);
  min-width: 900px;
  min-height: 900px;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
